{% for note in notes %}
	<div class = "note" id = "{{note.id}}">
		<br>
		<form class = "editNoteForm" id = "form{{note.id}}">
			{% csrf_token %}
			<input name = "title" id = "title + {{note.id}}" type = "text" value = "{{note.title}}">
			<br><br>
			<textarea name = "content" id = "content + {{note.id}}" col = "25" rows = "8">{{note.content}}</textarea>
			<input type = "hidden" name = "id" value = "{{note.id}}">
		</form>
		<form id = "deleteform{{note.id}}">
			{% csrf_token %}
			<input type = "hidden" name = "id" value = "{{note.id}}">
			<input type = "submit" value = "Delete">
		</form>
	</div>
{% endfor %}

<script type="text/javascript">
	{% for note in notes %}
	$('#' + {{note.id}}).on('focusout', function() {
		console.log("focusout")
	    $.ajax({
	      url: '/editNote',
	      method: 'post',
	      data: $('#form' + {{note.id}}).serialize(),
	      success: function(serverResponse){
	      	console.log(serverResponse)
	      	$('#title' + serverResponse.id).val(serverResponse.title)
	      	$('#content' + serverResponse.id).val(serverResponse.content)
	      }
	    })
	    return false;
	})
	$('#deleteform' + {{note.id}}).submit( function() {
		console.log('delete')
	    $.ajax({
	      url: '/deleteNote',
	      method: 'post',
	      data: $(this).serialize(),
	      success: function(serverResponse){
	      	$('.allNotes').html(serverResponse)
	      }
	    })
	    return false;
	})
	{% endfor %}
	// $('.addNoteAjax').submit( function() {
	// 	console.log('submit')
	//     $.ajax({
	//       url: '/addNote',
	//       method: 'post',
	//       data: $(this).serialize(),
	//       success: function(serverResponse){
	//       	$('.allNotes').html(serverResponse)
	//       }
	//     })
	//     return false;
	// })
</script>
